
*.docx#

Shell Script/Assignment1/workingDir/

Shell Script/Assignment1/output/


*.out

**/cmake-build-debug/

**/\.idea/

IPC/CakeFactory/out\.log

*~
_*
*.o
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernel
kernelmemfs
mkfs
.gdbinit

